/* The general elements style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  text-align: center;
  color: #0b6565;
  font: 16px/1.2em "Inconsolata", monospace;
}

/* styling the main content*/

.main-heading,
.title,
.bio {
  margin: 10px;
  padding: 5px;
}

footer {
  background-color: #28a68980;
}

@media screen and (min-width: 550px) {
  html,
  body {
    font: 18px/1.25em "Inconsolata", monospace;
  }

  nav {
    width: 60%;
  }
}

@media screen and (min-width: 720px) {
  nav {
    width: 50%;
  }

  .bio {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1000px) {
  nav {
    width: 40%;
  }

  .nav-link {
    padding: 10px 20px;
  }

  .logo {
    margin-left: 20px;
  }
}
